@page "/"

<PageTitle>Home</PageTitle>

<h1>Produtos</h1>
<section class="d-flex">


<Card Titulo="Coxinha" CaminhoImagem=" />"
<Card Titulo="Coca Cola" CaminhoImagem=" />"
<Card Titulo="Brownie" CaminhoImagem=" />"
</section>