@page "/"

<PageTitle>Home</PageTitle>

<h1>Produtos</h1>
<section class="d-flex">
<div class="card" style="width: 18rem;">
    <img src="/imagens/coxinha-de-frango-2.webp" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Coxinha</h5>
        <p class="card-text">Saborosa mini coxinha em porção para não botar limite na sua fome.</p>
        <a href="#" class="btn btn-primary">clique</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
        <img src="/imagens/garrafas-de-coca-cola-1.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Coca Cola</h5>
            <p class="card-text">Uma coca ks bem gelada para te ajudar a encarar o clima tropical.</p>
            <a href="#" class="btn btn-primary">clique</a>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img src="/imagens/brownie-capa-2.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Brownie</h5>
        <p class="card-text">Esse brownie é a combinação perfeita do nosso café especial e sua pausa.</p>
        <a href="#" class="btn btn-primary">clique</a>
    </div>
</div>
</section>