@page "/Login"

<PageTitle>Entre com seu usuário</PageTitle>

<h3>Login</h3>

@* 1 tag form > 1 campo para username, 1 campo para senha , 1 botão*@

<div>
	<label>Usuário</label>
		<input type="text" class="form-control"/>
	
</div>
<div>
	<label>Senha</label>
	<input type="password" class="form-control" id="floatingPassword">
</div>
<div>
	<button class="btn btn-warning w-100 py-2" type="submit">Acesse</button>
</div>


@code {

}
